@charset "utf-8";
 
.body {
	font-family: "filson-pro", sans-serif;
font-weight: 700;
font-style: normal;
}

body {
  background-color: #EFE1CF;
  margin: 0;
  padding: 0;
}



.page {
	color: #EFE1CF
	
}

 /* Header style */
.container1 {
    text-align: center; /* Centers the content inside the header */
    background-color: #F15A28; /* Optional background color */
    margin-top: -70px;
    width: auto;
    height: 127px;
    font-family: "filson-pro", sans-serif;
}
.container2 {
    width: 100%;
    height: 700px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    font-family: "filson-pro", sans-serif;
	overflow: hidden;
}

/* Default styles for Full Screen (Desktop) */
.photoplaydates {
  position:absolute;
  top: 350px;  /* Move down */
  left: 1050px; /* Move right */
  transform: scale(4);  /* Default scale */
	width: auto
}

.bubble1 {
  position: absolute;
  top: 350px;  /* Move down */
  left: 570px;  /* Move right */
  transform: scale(5.5);  /* Default scale */
}

.playdates-text {
  position: absolute;
  top: 200px;  /* Move down */
  left: 450px;  /* Move right */
  transform: scale(2);  /* Default scale */
  color: #56a4da;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  pointer-events: none;
  font-family: "snicker", sans-serif;
}

.playdates-text-small {
  position: absolute;
  top: 260px;  /* Move down */
  left: 400px;  /* Move right */
  transform: scale(1);  /* Default scale */
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  width: 26%;
  pointer-events: none;
  font-family: "filson-pro", sans-serif;
}

.playdates-button {
  position: absolute;
  top: 550px;  /* Move down */
  left: 700px;  /* Move right */
  transform: scale(4.5);  /* Default scale */
}

.playdates-button-text {
  position: absolute;
  top: 585px;  /* Move down */
  left: 575px;  /* Move right */
  transform: scale(2);  /* Default scale */
  color: #efe1cf;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 20%;
  pointer-events: none;
  font-family: "snicker", sans-serif;
}

.row.g-3.justify-content-evenly {
  margin-top: 800px; /* Adjust as needed */
}

.card {
  color: #efe1cf;
background-color: #56a4da; /* Change this to your desired color */	
}

.card .card-title {
  font-family: "snicker", sans-serif;
font-size: 29px;
}

.card .card-text {
  font-family: "filson-pro", sans-serif;
}


.img-fluid {
margin-top: -80px; /* Adjust as needed */
	
}