@charset "utf-8";
 
 /* Header style */
.container1 {
    text-align: center; /* Centers the content inside the header */
    background-color: #F15A28; /* Optional background color */
    margin-top: -70px;
    width: auto;
    height: 127px;
    font-family: "filson-pro", sans-serif;
}
.container2 {
    width: auto;
    height: 350px;
    background-color: #FFFFFF;
    justify-content: center;
    display: flex;
    align-content: center;
    font-family: "filson-pro", sans-serif;	
}
/* Centered text */
.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
	font-family: "filson-pro", sans-serif;
}
.container3 {
    width: auto;
    height: 410px;
    justify-content: center;
    background-color: #EFE1CF;
    font-family: "filson-pro", sans-serif;
	display: flex;
	align-items: center;
}

.dropdown {
    height: 20px;
    min-width: 0px;
    top: -10mm;
    color: #EFE1CF;
    font-family: "filson-pro", sans-serif;
}
.dropdown-toggle {
    color: #efe1cf;
    font-family: "filson-pro", sans-serif;
    width: 20px;
    height: 36px;
  
}

.happytails {
    color: #efe1cf;
    font-family: "filson-pro", sans-serif;
    font-size: 35px;
}

.image-wrapper {
  display: flex; /* Zet de items naast elkaar */
  justify-content: center; /* Zorgt ervoor dat ze in het midden staan */
  align-items: center; /* Centreert alles verticaal */
  gap: 20px; /* Ruimte tussen de afbeeldingen */
}

.paw-container {
  position: relative;
  text-align: center;
}

.paw-text {
    position: absolute;
    top: 50%; /* Pas deze waarde aan om de tekst goed te positioneren */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F15A28; /* Tekstkleur */
    font-size: 25px;
    font-family: "filson-pro", sans-serif;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.paw-container {
  display: block; 
  max-width: 100%;
  height: auto;
}




